body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  background-color: #f2f2f2;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: .16em;
}

h1 {
  font-size: 2.2em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.4em;
  margin: 50px 0 0 0;
}

p {
  line-height: 1.2em;
}

header {
  top: 0;
  left: 0;
  z-index: 4;
  background: hsla(0,0%,100%,.9);
  position: fixed;
  padding: 28px 20px;
  text-transform: uppercase;
  width: 100%;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}

header a {
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
}

nav {
  padding: 0 70px 0 40px;
}

.image_box {
  max-height: 500px;
  overflow: hidden;
  margin-bottom: 40px;
}

.image_box img {
  width: 100%;
}

.internal {
  border-top: 7px solid #3b4140;
}

.intro, .menu {
  width: 70%;
  padding: 20px 50px;
}

.intro {
  margin: 0 auto;
  text-align: center;
}

.menu {
  float: left;
  text-align: left;
}

/* Styles for mobile */
@media only screen and (max-width : 800px) {

  h1 {
    margin: 0 auto;
    position: absolute;
    left: 30px;
    top: 30px;
    clear: both;
    width: 100%;
  }

  nav {
    padding: 0 0 0 12px;
  }

  nav ul {
    margin-top: 50px;
    font-size: 0.8em;
    justify-content: flex-start;
  }

  nav li {
    padding-right: 25px;
  }

  .intro, .menu {
    font-size: 0.8em;
    width: 90%;
    text-align: left;
    margin: 0;
    padding: 20px 30px;
  }

}
